.stat-item,
.project-stats,
.project-stats .project-stats-value{
	color: #eee !important;
	background-color: #eee !important;
}

.stat-item:hover,
.project-stats:hover,
.project-stats:hover .project-stats-value{
	color: black !important;
	transition: color 0.5s ease 0.3s;
}


.project-percent-pledged{
	width: 100% !important;
	background-color: #aaa !important;
}
